@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

body{
    /*background-image: url("bg.jpg");
    background-repeat: no-repeat;*/
    background-image: linear-gradient(#90EE90,#476ba0);
}
#welcome{
    padding-left: 150px;
    font-family:Com;
    width:500px;
    float:left;
    
    
}

#paragraphwelcome{
    font-size: 1.3em;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#home:hover {
    color: darkgreen;
    transition: 0.5s;
    animation: alternate-reverse;
}

#links{
    width: 550px;
    height: 300px;
    margin-bottom: 10em;
    
    padding-right: 0px;
    float:right;
}
#linksheader{
    text-decoration: underline;
}

#blink{
    color: rgb(145, 26, 26);
    text-decoration: wavy;
    text-decoration: underline;
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
}

#MPLink{
    float: inline-start;
    line-break: normal;
    font-size: 21px;
    color: rgb(145, 26, 26);
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#BODY1{
    background-image: url(Map\ eco\ regions.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    font-size: larger;
}

#coolbeans{
    font-size: 27px;
    padding-left: 42%;
    text-align: center;
    color: burlywood;
}
#fatbeans{
    font-size: 27px;
    text-align: center;
    color: rgb(9, 226, 241);
    padding-left: 42%;
    padding-top: 30px;
}
#abeans{
    font-size: 27px;
    text-align: center;
    color: rgb(115, 236, 85);
    padding-left: 42%;
    padding-top: 30px;
}
